<div class="top-container">
  <h2>Listing bookracks</h2>
</div>

<table>
  <tbody>
    <% @bookracks.each do |bookrack| %>
      <tr>
        <td><%= bookrack.name %></td>
        <td> &nbsp; </td>
        <td><%= link_to 'Show', bookrack %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<footer>
<%= link_to '本棚を追加　　 : Add new Bookrack', new_bookrack_path %>
</footer>
